From: "PayTomorrow" <no-reply@paytomorrow.it>
To: {{to}}
Subject: 🎯 Inizia ora con PayTomorrow: scarica l’app e attiva il tuo account con il codice invito
MIME-Version: 1.0
Date: {{date}}
Content-Type: multipart/alternative; boundary="boundary-string"

--boundary-string
Content-Type: text/plain; charset=UTF-8
Content-Transfer-Encoding: 7bit

Ciao, hai ricevuto un invito da {{customerName}} per entrare in PayTomorrow, la piattaforma che aiuta le attività
    ad offrire ai propri clienti il pagamento in 3 rate, senza burocrazia e in pochi minuti.

📲 Scarica subito l’app PayTomorrow e inserisci questo codice invito per iniziare: 👉 {{inviteCode}}.

Scarica l'app:
- iOS: https://apps.apple.com/it/app/paytomorrow/id6745253657
- Android: https://play.google.com/store/apps/details?id=com.matteopaoli.paytomorrowapp

Se preferisci, puoi anche completare la registrazione via browser cliccando sul link qui sotto:
{{onboardingLink}}

Alla fine della procedura riceverai una mail con tutte le informazioni e la password per accedere.

Per qualsiasi supporto, siamo a tua disposizione:
- Email: info@paytomorrow.it
- WhatsApp o SMS al 351 4753825
- Link per prenotare un appuntamento con il team: https://calendar.app.google/hQiYB7DLDmReLcVV6"

A presto,
Il Team di PayTomorrow

Se non sei stato tu a richiedere questo account, ti preghiamo di ignorare questa email.
--boundary-string
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: 7bit

<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🎯 Inizia ora con PayTomorrow: scarica l’app e attiva il tuo account con il codice invito</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f9f9f9;
      padding: 20px;
      text-align: center;
    }

    .container {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      margin: 0 auto;
    }

    .button {
      display: inline-block;
      padding: 12px 20px;
      margin: 20px 0;
      color: #fff;
      background-color: #007bff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
    }

    .invite-code {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
      background-color: #f0f8ff;
      padding: 10px;
      border-radius: 5px;
      display: inline-block;
      margin-top: 20px;
    }

    .app-buttons img {
      width: 150px;
      margin: 10px;
    }

    .footer {
      font-size: 0.8em;
      color: #777;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="container">
    Ciao,
    Hai ricevuto un invito da {{customerName}} per entrare in PayTomorrow, la piattaforma che aiuta le attività
    ad offrire ai propri clienti il pagamento in 3 rate, senza burocrazia e in pochi minuti.<br />
    <p style="text-align: left; list-style-type: none; padding: 0">📲 Scarica subito l’app
      PayTomorrow e inserisci questo codice invito per iniziare:<br />👉 <span
        style="font-weight: bold;">Codice</span>: <span class="invite-code">{{inviteCode}}</span></p>

    Una volta inserito il codice, potrai completare la registrazione e iniziare a usare il servizio direttamente
    dall’app.

    <p style="font-size: 24px; font-weight: bold;">🔗 Scarica l'app</p>
    <div class="app-buttons">
      <a href="https://apps.apple.com/it/app/paytomorrow/id6745253657"><img
          src="https://upload.wikimedia.org/wikipedia/commons/5/51/Download_on_the_App_Store_Badge_IT_RGB_blk.svg"
          alt="Download on the App Store"></a>
      <a href="https://play.google.com/store/apps/details?id=com.matteopaoli.paytomorrowapp">
        <img style="width: 170px"
          src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Google_Play_Store_badge_IT.svg"
          alt="Get it on Google Play"></a>
    </div>
    <p>Se preferisci, puoi anche completare la registrazione via browser cliccando sul link qui sotto:</p>
    <a href="{{onboardingLink}}">Registrati ora</a>
    <p>Alla fine della procedura riceverai una mail con tutte le informazioni e la password per accedere.</p>
    <hr />
    <p>Per qualsiasi supporto, siamo a tua disposizione:</p>
    <ul style="list-style-type: none; line-height: 24px">
      <li>📧 <a class="link" href="mailto:info@paytomorrow.it">info@paytomorrow.it</a></li>
      <li>📱 WhatsApp o SMS al <strong>351 4753825</strong></li>
      <li>📅 <a class="link" href="https://calendar.app.google/hQiYB7DLDmReLcVV6">Prenota un appuntamento con il
          team</a></li>
    </ul>

    <div class="footer">
      <p>Se non sei stato tu a richiedere questo account, ti preghiamo di ignorare questa email.</p>
    </div>
</body>

</html>

--boundary-string--